
.navbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 20px 30px;
    height: 90px;
    width: 100vw;
    background: transparent;
    align-items: center;
    z-index: 1;
}

.logo {
    height: auto;
    font-size: 25px;
    a {
        color: white;
    }
}

.user-interface {
    // border: 1px solid red;
}

.links {
    display: flex;
    height: 30px;

    a {
        &:hover {
            background-color: #f40612;;
        }
        text-decoration: none;
        background-color: #e50914;;
        padding: 5px 15px;
        color: white;
        border-radius: 5px;
        font-size: 13px;
        align-items: center;
        display: flex;
    }
}


.logo img {
    // height: 100px;
    // width: 200px;
}