
.navbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 20px 30px;
    align-content: center;
    height: 90px;
    width: 100vw;
    // background: linear-gradient(black, 70%, transparent);
    background: transparent;
}

.logo a {
    color: white;
}

.user-interface {
    // border: 1px solid red;
}

.links a {
    text-decoration: none;
    background-color: red;
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    font-size: 13px;
}
// .navbar a {
//     text-decoration: none;
//     background-color: red;
//     padding: 5px 6px;
// }

.logo img {
    // height: 100px;
    // width: 200px;
}