.signup-form {
    // text-align: center;
    margin: auto;
    height: 100%;
    width: 50%;
}

.signup-form label {
    font-size: 10px;
}

// .signup-form input[type=password] {
//     border: 1px solid #8C8C8C;
//     padding: 10px;
//     // padding-right: 100px;
//     width: 75%;
// }

#signup-info {
    border: 1px solid #8C8C8C;
    padding: 10px;
    width: 75%;
}

.signup-form input[type=submit] {
    background-color: red;
    text-align: center;
    color: white;
    // border-radius: 5px;
    width: 75%;
    padding: 10px;
}

.errors {
    background-color: #FFA00A;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 75%;
    font-size: 10px;
}