#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.splash-container {
  background: image-url('popcorn.jpg');
  height: 800px;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}